
<div class = "row">
  <div class="col-xs-8 col-sm-7 col-md-8 col-sm-offset-1 col-md-offset-2"> </div>
</div>
<form (ngSubmit)="SendMessage(f)" #f="ngForm">
  <div class = "form-group">
    <label for="message">message</label>
    <input type="text " id="message" name="message" ngModel class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">send</button>
</form>

<br>
<p>{{msg}}  </p>


<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <div class="panel-heading"><h1>Messages</h1></div>
  <div class="panel-body" *ngFor="let receivedMesage of books" >
    <ul class="list-group">
      <div class="row">
        <div class="col-md-2">{{receivedMesage}}</div>
      </div>
    </ul>
  </div>
</div>
